* {
  list-style: none;
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
  /* color: black; */
  /* font-weight: normal; */
  /* font-size: 16px; */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  /* background-color: #eae7dc !important; */
  font-family: "Montserrat", sans-serif;
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 375px) {
    font-size: 6px !important;
  }
  @media only screen and (min-width: 375px) and (max-width: 600px) {
    font-size: 8px !important;
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    font-size: 10px !important;
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    font-size: 12px !important;
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    font-size: 14px !important;
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    font-size: 16px !important;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #242424eb;
}

.header .navbar-brand {
  font-size: 1.5rem;
  color: #f6f8fa;
}

.product-img {
  width: 20rem;
  height: 100%;
  background-color: #ffffff;
}

.product-img img {
  /* max-height: "25rem"; */
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-btn i {
  color: white;
  /* font-size: 24px;
  transition: color 0.3s ease;
  cursor: pointer; */
}

.cart-btn:hover i {
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}

/*Loader */
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh; /* or 100vh for full-page center */
}

.loader {
  width: 90px;
  height: 14px;
  box-shadow: 0 3px 0 #fff;
  position: relative;
  clip-path: inset(-40px 0 -5px);
}
.loader:before {
  content: "";
  position: absolute;
  inset: auto calc(50% - 17px) 0;
  height: 50px;
  --g: no-repeat linear-gradient(#242424eb 0 0);
  background: var(--g), var(--g), var(--g), var(--g);
  background-size: 16px 14px;
  animation: l7-1 2s infinite linear, l7-2 2s infinite linear;
}
@keyframes l7-1 {
  0%,
  100% {
    background-position: 0 -50px, 100% -50px;
  }
  17.5% {
    background-position: 0 100%, 100% -50px, 0 -50px, 100% -50px;
  }
  35% {
    background-position: 0 100%, 100% 100%, 0 -50px, 100% -50px;
  }
  52.5% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% -50px;
  }
  70%,
  98% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px),
      100% calc(100% - 16px);
  }
}
@keyframes l7-2 {
  0%,
  70% {
    transform: translate(0);
  }
  100% {
    transform: translate(200%);
  }
}

/* Show only on screens (lg breakpoint) */
@media (max-width: 992px) {
  .con-cart-btn {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
